@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}

[data-scroll-container] {
  min-height: 100vh;
}

* {
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  .cursor-follower {
    display: none;
  }
}

a:hover ~ .cursor-follower,
button:hover ~ .cursor-follower {
  transform: scale(1.8);
}